@using Models.Model.Usuario
@model UsuarioReferidoViewModel

<div class="container py-4">
    <h4 class="mb-4">Mi Red de Referidos</h4>
    <div id="redContainer">
        @Html.Partial("_TarjetaUsuario.cshtml", Model)
    </div>
</div>















@* @{
    ViewData["Title"] = "Home Page";
}
<div>
    <nav class="navbar navbar-main navbar-expand-lg px-0 mx-4 shadow-none border-radius-xl" id="navbarBlur" navbar-scroll="true" style="place-self: center;">
        <div class="container-fluid py-1 px-3">
            <nav aria-label="breadcrumb">
                <h6 class="font-weight-bolder mb-0 text-center fw-bold" style="font-size: 2rem;">Mi RED</h6>
            </nav>
        </div>
    </nav>
</div>



<div class="container-fluid py-4">

    <div class="row justify-content-center g-4">
        <div class="col-6 col-md-4 col-lg-2">
            <div class="card h-100">
                <div class="card-header p-3 pt-2 position-relative">
                    <div class="icon icon-lg icon-shape bg-gradient-primary text-white text-center border-radius-xl position-absolute top-0 start-0 translate-middle-y ms-3" 
                         style="width: 45px; height: 45px;">
                        1
                    </div>
                    <div class="text-end pt-2">
                        <p class="text-sm mb-0 text-capitalize"></p>
                        <h4 class="mb-0">$53k</h4>
                    </div>
                </div>
                <div class="card-footer p-3">
                    <p class="mb-0"><span class="text-success font-weight-bolder">+55%</span> vs semana pasada</p>
                </div>
            </div>
        </div>
    </div>
    
</div> *@
