USE [Octopus]
GO
/****** Object:  Table [dbo].[EstadoPago]    Script Date: 12/07/2025 7:36:32 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EstadoPago](
	[EstadoPagoID] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](50) NOT NULL,
	[Descripcion] [varchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[EstadoPagoID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Comision]    Script Date: 12/07/2025 7:36:32 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Comision](
	[ComisionID] [int] IDENTITY(1,1) NOT NULL,
	[UsuarioID] [int] NOT NULL,
	[ReferidoID] [int] NOT NULL,
	[Monto] [decimal](10, 2) NOT NULL,
	[FechaGeneracion] [datetime] NOT NULL,
	[FechaPago] [datetime] NULL,
	[Nivel] [int] NOT NULL,
	[EstadoPagoID] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ComisionID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Usuario]    Script Date: 12/07/2025 7:36:32 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Usuario](
	[UsuarioID] [int] IDENTITY(1,1) NOT NULL,
	[ReferenteID] [int] NULL,
	[BancoID] [int] NULL,
	[RolID] [int] NULL,
	[EstadoUsuarioID] [int] NOT NULL,
	[TipoDocumentoID] [int] NOT NULL,
	[TipoCuentaBancariaID] [int] NULL,
	[CodigoReferencia] [varchar](20) NULL,
	[NombreCompleto] [varchar](100) NOT NULL,
	[NumeroDocumento] [varchar](20) NULL,
	[Email] [varchar](100) NOT NULL,
	[ContrasenaHash] [varbinary](256) NOT NULL,
	[ContrasenaSalt] [varbinary](256) NOT NULL,
	[NumeroCelular] [varchar](20) NULL,
	[NumeroCuentaBancaria] [varchar](50) NULL,
	[FechaRegistro] [datetime] NOT NULL,
	[FechaUltimoAcceso] [datetime] NULL,
	[CambioContrasena] [bit] NULL,
	[TokenVerificacion] [varchar](100) NULL,
	[FechaExpiracionToken] [datetime] NULL,
	[IntentosFallidos] [int] NULL,
	[Bloqueado] [bit] NULL,
	[FechaHabilitacion] [datetime] NULL,
 CONSTRAINT [PK__Usuario__2B3DE7988667F779] PRIMARY KEY CLUSTERED 
(
	[UsuarioID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[vwComisionesPendientes]    Script Date: 12/07/2025 7:36:32 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- Vista para comisiones pendientes
CREATE VIEW [dbo].[vwComisionesPendientes] AS
SELECT 
    c.ComisionID, c.UsuarioID, u.CodigoReferencia, u.NombreCompleto,
    c.ReferidoID, ur.CodigoReferencia AS CodigoReferido, ur.NombreCompleto AS NombreReferido,
    c.Monto, c.FechaGeneracion, c.Nivel, ep.Nombre AS Estado
FROM Comision c
JOIN Usuario u ON c.UsuarioID = u.UsuarioID
JOIN Usuario ur ON c.ReferidoID = ur.UsuarioID
JOIN EstadoPago ep ON c.EstadoPagoID = ep.EstadoPagoID
WHERE c.EstadoPagoID = 1; -- Pendientes
GO
/****** Object:  Table [dbo].[TipoDocumento]    Script Date: 12/07/2025 7:36:32 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TipoDocumento](
	[TipoDocumentoID] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](50) NOT NULL,
	[Descripcion] [varchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[TipoDocumentoID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TipoCuentaBancaria]    Script Date: 12/07/2025 7:36:32 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TipoCuentaBancaria](
	[TipoCuentaBancariaID] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](50) NOT NULL,
	[Descripcion] [varchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[TipoCuentaBancariaID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Banco]    Script Date: 12/07/2025 7:36:32 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Banco](
	[BancoID] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](100) NOT NULL,
	[Codigo] [varchar](20) NOT NULL,
	[Activo] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[BancoID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[vwUsuariosPendientes]    Script Date: 12/07/2025 7:36:32 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- Vista para usuarios pendientes de aprobación
CREATE VIEW [dbo].[vwUsuariosPendientes] AS
SELECT 
    u.UsuarioID, u.CodigoReferencia, u.NombreCompleto, u.Email, u.NumeroCelular,
    u.FechaRegistro, td.Nombre AS TipoDocumento, u.NumeroDocumento,
    tcb.Nombre AS TipoCuenta, b.Nombre AS Banco, u.NumeroCuentaBancaria,
    ref.CodigoReferencia AS CodigoReferente, ref.NombreCompleto AS NombreReferente
FROM Usuario u
JOIN TipoDocumento td ON u.TipoDocumentoID = td.TipoDocumentoID
JOIN TipoCuentaBancaria tcb ON u.TipoCuentaBancariaID = tcb.TipoCuentaBancariaID
JOIN Banco b ON u.BancoID = b.BancoID
LEFT JOIN Usuario ref ON u.ReferenteID = ref.UsuarioID
WHERE u.EstadoUsuarioID = 1; -- Pendientes
GO
/****** Object:  Table [dbo].[RedReferidos]    Script Date: 12/07/2025 7:36:32 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RedReferidos](
	[RedReferidosID] [int] IDENTITY(1,1) NOT NULL,
	[UsuarioID] [int] NOT NULL,
	[ReferenteID] [int] NOT NULL,
	[Nivel] [int] NOT NULL,
	[FechaVinculacion] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[RedReferidosID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[vwRedReferidos]    Script Date: 12/07/2025 7:36:32 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[vwRedReferidos] AS
SELECT 
    u.UsuarioID, u.CodigoReferencia, u.NombreCompleto,
    r.ReferenteID, ref.CodigoReferencia AS CodigoReferente, ref.NombreCompleto AS NombreReferente,
    r.Nivel, r.FechaVinculacion,
    (SELECT COUNT(*) FROM RedReferidos WHERE ReferenteID = u.UsuarioID AND Nivel = 1) AS CantidadReferidosDirectos
FROM Usuario u
JOIN RedReferidos r ON u.UsuarioID = r.UsuarioID
JOIN Usuario ref ON r.ReferenteID = ref.UsuarioID;
GO
/****** Object:  Table [dbo].[BackupRegistro]    Script Date: 12/07/2025 7:36:32 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BackupRegistro](
	[BackupID] [int] IDENTITY(1,1) NOT NULL,
	[NombreArchivo] [varchar](100) NOT NULL,
	[Ruta] [varchar](200) NOT NULL,
	[TamanoMB] [decimal](10, 2) NOT NULL,
	[FechaBackup] [datetime] NOT NULL,
	[UsuarioID] [int] NOT NULL,
	[Estado] [varchar](20) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[BackupID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ConfigCompensacionReferidos]    Script Date: 12/07/2025 7:36:32 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ConfigCompensacionReferidos](
	[ConfigID] [int] IDENTITY(1,1) NOT NULL,
	[Linea] [int] NOT NULL,
	[Porcentaje] [decimal](5, 2) NOT NULL,
	[PagoUnico] [bit] NOT NULL,
	[Activo] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ConfigID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ConfiguracionSistema]    Script Date: 12/07/2025 7:36:32 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ConfiguracionSistema](
	[ConfiguracionID] [int] IDENTITY(1,1) NOT NULL,
	[Clave] [varchar](50) NOT NULL,
	[Valor] [varchar](200) NOT NULL,
	[Descripcion] [varchar](200) NULL,
	[Modificable] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[ConfiguracionID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[Clave] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EstadoUsuario]    Script Date: 12/07/2025 7:36:32 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EstadoUsuario](
	[EstadoUsuarioID] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](50) NOT NULL,
	[Descripcion] [varchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[EstadoUsuarioID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HistorialContrasena]    Script Date: 12/07/2025 7:36:32 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HistorialContrasena](
	[HistorialContrasenaID] [int] IDENTITY(1,1) NOT NULL,
	[UsuarioID] [int] NOT NULL,
	[ContrasenaHash] [varbinary](256) NOT NULL,
	[ContrasenaSalt] [varbinary](256) NOT NULL,
	[FechaCambio] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[HistorialContrasenaID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LogActividad]    Script Date: 12/07/2025 7:36:32 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LogActividad](
	[LogID] [int] IDENTITY(1,1) NOT NULL,
	[UsuarioID] [int] NULL,
	[Accion] [varchar](100) NOT NULL,
	[Detalles] [varchar](500) NULL,
	[FechaHora] [datetime] NOT NULL,
	[DireccionIP] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[LogID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Notificacion]    Script Date: 12/07/2025 7:36:32 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Notificacion](
	[NotificacionID] [int] IDENTITY(1,1) NOT NULL,
	[UsuarioID] [int] NOT NULL,
	[Titulo] [varchar](100) NOT NULL,
	[Mensaje] [varchar](500) NOT NULL,
	[FechaCreacion] [datetime] NOT NULL,
	[Leida] [bit] NOT NULL,
	[FechaLectura] [datetime] NULL,
	[TipoNotificacion] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[NotificacionID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Pago]    Script Date: 12/07/2025 7:36:32 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Pago](
	[PagoID] [int] IDENTITY(1,1) NOT NULL,
	[UsuarioID] [int] NOT NULL,
	[Monto] [decimal](10, 2) NOT NULL,
	[FechaPago] [datetime] NOT NULL,
	[EstadoPagoID] [int] NOT NULL,
	[Comprobante] [varchar](100) NULL,
	[FechaAprobacion] [datetime] NULL,
	[AprobadoPor] [int] NULL,
	[Observaciones] [varchar](200) NULL,
PRIMARY KEY CLUSTERED 
(
	[PagoID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Reporte]    Script Date: 12/07/2025 7:36:32 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Reporte](
	[ReporteID] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](100) NOT NULL,
	[Descripcion] [varchar](200) NULL,
	[QuerySQL] [text] NOT NULL,
	[CreadoPor] [int] NOT NULL,
	[FechaCreacion] [datetime] NOT NULL,
	[Parametros] [varchar](500) NULL,
PRIMARY KEY CLUSTERED 
(
	[ReporteID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Rol]    Script Date: 12/07/2025 7:36:32 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Rol](
	[RolID] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](50) NOT NULL,
	[Descripcion] [varchar](100) NULL,
	[NivelAcceso] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[RolID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Sesion]    Script Date: 12/07/2025 7:36:32 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Sesion](
	[SesionID] [int] IDENTITY(1,1) NOT NULL,
	[UsuarioID] [int] NOT NULL,
	[Token] [varchar](500) NOT NULL,
	[FechaInicio] [datetime] NOT NULL,
	[FechaExpiracion] [datetime] NOT NULL,
	[DireccionIP] [varchar](50) NULL,
	[Dispositivo] [varchar](100) NULL,
	[Activa] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[SesionID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[ConfigCompensacionReferidos] ADD  DEFAULT ((1)) FOR [PagoUnico]
GO
ALTER TABLE [dbo].[ConfigCompensacionReferidos] ADD  DEFAULT ((1)) FOR [Activo]
GO
ALTER TABLE [dbo].[LogActividad] ADD  DEFAULT (getdate()) FOR [FechaHora]
GO
ALTER TABLE [dbo].[Usuario] ADD  CONSTRAINT [DF__Usuario__RolID__44FF419A]  DEFAULT ((2)) FOR [RolID]
GO
ALTER TABLE [dbo].[Usuario] ADD  CONSTRAINT [DF__Usuario__EstadoU__45F365D3]  DEFAULT ((1)) FOR [EstadoUsuarioID]
GO
ALTER TABLE [dbo].[Usuario] ADD  CONSTRAINT [DF__Usuario__FechaRe__46E78A0C]  DEFAULT (getdate()) FOR [FechaRegistro]
GO
ALTER TABLE [dbo].[Usuario] ADD  CONSTRAINT [DF__Usuario__CambioC__47DBAE45]  DEFAULT ((0)) FOR [CambioContrasena]
GO
ALTER TABLE [dbo].[Usuario] ADD  CONSTRAINT [DF__Usuario__Intento__48CFD27E]  DEFAULT ((0)) FOR [IntentosFallidos]
GO
ALTER TABLE [dbo].[Usuario] ADD  CONSTRAINT [DF__Usuario__Bloquea__49C3F6B7]  DEFAULT ((0)) FOR [Bloqueado]
GO
ALTER TABLE [dbo].[BackupRegistro]  WITH CHECK ADD  CONSTRAINT [FK_BackupRegistro_Usuario] FOREIGN KEY([UsuarioID])
REFERENCES [dbo].[Usuario] ([UsuarioID])
GO
ALTER TABLE [dbo].[BackupRegistro] CHECK CONSTRAINT [FK_BackupRegistro_Usuario]
GO
ALTER TABLE [dbo].[Comision]  WITH CHECK ADD  CONSTRAINT [FK_Comision_EstadoPago] FOREIGN KEY([EstadoPagoID])
REFERENCES [dbo].[EstadoPago] ([EstadoPagoID])
GO
ALTER TABLE [dbo].[Comision] CHECK CONSTRAINT [FK_Comision_EstadoPago]
GO
ALTER TABLE [dbo].[Comision]  WITH CHECK ADD  CONSTRAINT [FK_Comision_Usuario] FOREIGN KEY([UsuarioID])
REFERENCES [dbo].[Usuario] ([UsuarioID])
GO
ALTER TABLE [dbo].[Comision] CHECK CONSTRAINT [FK_Comision_Usuario]
GO
ALTER TABLE [dbo].[Comision]  WITH CHECK ADD  CONSTRAINT [FK_Comision_Usuario1] FOREIGN KEY([ReferidoID])
REFERENCES [dbo].[Usuario] ([UsuarioID])
GO
ALTER TABLE [dbo].[Comision] CHECK CONSTRAINT [FK_Comision_Usuario1]
GO
ALTER TABLE [dbo].[HistorialContrasena]  WITH CHECK ADD  CONSTRAINT [FK_HistorialContrasena_Usuario] FOREIGN KEY([UsuarioID])
REFERENCES [dbo].[Usuario] ([UsuarioID])
GO
ALTER TABLE [dbo].[HistorialContrasena] CHECK CONSTRAINT [FK_HistorialContrasena_Usuario]
GO
ALTER TABLE [dbo].[LogActividad]  WITH CHECK ADD  CONSTRAINT [FK_LogActividad_Usuario] FOREIGN KEY([UsuarioID])
REFERENCES [dbo].[Usuario] ([UsuarioID])
GO
ALTER TABLE [dbo].[LogActividad] CHECK CONSTRAINT [FK_LogActividad_Usuario]
GO
ALTER TABLE [dbo].[Notificacion]  WITH CHECK ADD  CONSTRAINT [FK_Notificacion_Usuario] FOREIGN KEY([UsuarioID])
REFERENCES [dbo].[Usuario] ([UsuarioID])
GO
ALTER TABLE [dbo].[Notificacion] CHECK CONSTRAINT [FK_Notificacion_Usuario]
GO
ALTER TABLE [dbo].[Pago]  WITH CHECK ADD  CONSTRAINT [FK_Pago_EstadoPago] FOREIGN KEY([EstadoPagoID])
REFERENCES [dbo].[EstadoPago] ([EstadoPagoID])
GO
ALTER TABLE [dbo].[Pago] CHECK CONSTRAINT [FK_Pago_EstadoPago]
GO
ALTER TABLE [dbo].[Pago]  WITH CHECK ADD  CONSTRAINT [FK_Pago_Usuario] FOREIGN KEY([UsuarioID])
REFERENCES [dbo].[Usuario] ([UsuarioID])
GO
ALTER TABLE [dbo].[Pago] CHECK CONSTRAINT [FK_Pago_Usuario]
GO
ALTER TABLE [dbo].[RedReferidos]  WITH CHECK ADD  CONSTRAINT [FK_RedReferidos_Usuario] FOREIGN KEY([ReferenteID])
REFERENCES [dbo].[Usuario] ([UsuarioID])
GO
ALTER TABLE [dbo].[RedReferidos] CHECK CONSTRAINT [FK_RedReferidos_Usuario]
GO
ALTER TABLE [dbo].[RedReferidos]  WITH CHECK ADD  CONSTRAINT [FK_RedReferidos_Usuario1] FOREIGN KEY([UsuarioID])
REFERENCES [dbo].[Usuario] ([UsuarioID])
GO
ALTER TABLE [dbo].[RedReferidos] CHECK CONSTRAINT [FK_RedReferidos_Usuario1]
GO
ALTER TABLE [dbo].[Reporte]  WITH CHECK ADD  CONSTRAINT [FK_Reporte_Usuario] FOREIGN KEY([CreadoPor])
REFERENCES [dbo].[Usuario] ([UsuarioID])
GO
ALTER TABLE [dbo].[Reporte] CHECK CONSTRAINT [FK_Reporte_Usuario]
GO
ALTER TABLE [dbo].[Sesion]  WITH CHECK ADD  CONSTRAINT [FK_Sesion_Usuario] FOREIGN KEY([UsuarioID])
REFERENCES [dbo].[Usuario] ([UsuarioID])
GO
ALTER TABLE [dbo].[Sesion] CHECK CONSTRAINT [FK_Sesion_Usuario]
GO
ALTER TABLE [dbo].[Usuario]  WITH CHECK ADD  CONSTRAINT [FK__Usuario__BancoID__4CA06362] FOREIGN KEY([BancoID])
REFERENCES [dbo].[Banco] ([BancoID])
GO
ALTER TABLE [dbo].[Usuario] CHECK CONSTRAINT [FK__Usuario__BancoID__4CA06362]
GO
ALTER TABLE [dbo].[Usuario]  WITH CHECK ADD  CONSTRAINT [FK__Usuario__EstadoU__4F7CD00D] FOREIGN KEY([EstadoUsuarioID])
REFERENCES [dbo].[EstadoUsuario] ([EstadoUsuarioID])
GO
ALTER TABLE [dbo].[Usuario] CHECK CONSTRAINT [FK__Usuario__EstadoU__4F7CD00D]
GO
ALTER TABLE [dbo].[Usuario]  WITH CHECK ADD  CONSTRAINT [FK__Usuario__Referen__4D94879B] FOREIGN KEY([ReferenteID])
REFERENCES [dbo].[Usuario] ([UsuarioID])
GO
ALTER TABLE [dbo].[Usuario] CHECK CONSTRAINT [FK__Usuario__Referen__4D94879B]
GO
ALTER TABLE [dbo].[Usuario]  WITH CHECK ADD  CONSTRAINT [FK__Usuario__TipoCue__4BAC3F29] FOREIGN KEY([TipoCuentaBancariaID])
REFERENCES [dbo].[TipoCuentaBancaria] ([TipoCuentaBancariaID])
GO
ALTER TABLE [dbo].[Usuario] CHECK CONSTRAINT [FK__Usuario__TipoCue__4BAC3F29]
GO
ALTER TABLE [dbo].[Usuario]  WITH CHECK ADD  CONSTRAINT [FK__Usuario__TipoDoc__4AB81AF0] FOREIGN KEY([TipoDocumentoID])
REFERENCES [dbo].[TipoDocumento] ([TipoDocumentoID])
GO
ALTER TABLE [dbo].[Usuario] CHECK CONSTRAINT [FK__Usuario__TipoDoc__4AB81AF0]
GO
ALTER TABLE [dbo].[Usuario]  WITH CHECK ADD  CONSTRAINT [FK_Usuario_Rol] FOREIGN KEY([RolID])
REFERENCES [dbo].[Rol] ([RolID])
GO
ALTER TABLE [dbo].[Usuario] CHECK CONSTRAINT [FK_Usuario_Rol]
GO
/****** Object:  StoredProcedure [dbo].[sp_AprobarUsuario]    Script Date: 12/07/2025 7:36:32 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Procedimiento para aprobar un usuario (admin)
CREATE PROCEDURE [dbo].[sp_AprobarUsuario]
    @UsuarioID INT,
    @AdminID INT,
    @Mensaje VARCHAR(200) OUTPUT
AS
BEGIN
    SET NOCOUNT ON;
    
    DECLARE @EstadoActual INT;
    SELECT @EstadoActual = EstadoUsuarioID FROM Usuario WHERE UsuarioID = @UsuarioID;
    
    IF @EstadoActual IS NULL
    BEGIN
        SET @Mensaje = 'Usuario no encontrado.';
        RETURN -1;
    END
    
    IF @EstadoActual = 2 -- Ya está activo
    BEGIN
        SET @Mensaje = 'El usuario ya está activo.';
        RETURN -2;
    END
    
    -- Verificar que tenga al menos un pago aprobado
    IF NOT EXISTS (
        SELECT 1 FROM Pago 
        WHERE UsuarioID = @UsuarioID AND EstadoPagoID = 2 -- Aprobado
    )
    BEGIN
        SET @Mensaje = 'El usuario no tiene pagos aprobados.';
        RETURN -3;
    END
    
    BEGIN TRY
        BEGIN TRANSACTION;
        
        -- Actualizar estado del usuario
        UPDATE Usuario 
        SET EstadoUsuarioID = 2, -- Activo
            FechaHabilitacion = GETDATE()
        WHERE UsuarioID = @UsuarioID;
        
        -- Registrar actividad
        INSERT INTO LogActividad (UsuarioID, Accion, Detalles)
        VALUES (@AdminID, 'Aprobación usuario', 'Usuario ID: ' + CAST(@UsuarioID AS VARCHAR(10)));
        
        -- Crear notificación para el usuario
        INSERT INTO Notificacion (UsuarioID, Titulo, Mensaje, TipoNotificacion)
        VALUES (@UsuarioID, 'Cuenta activada', 'Su cuenta ha sido activada exitosamente.', 'sistema');
        
        COMMIT TRANSACTION;
        
        SET @Mensaje = 'Usuario aprobado exitosamente.';
        RETURN 0;
    END TRY
    BEGIN CATCH
        ROLLBACK TRANSACTION;
        SET @Mensaje = 'Error al aprobar el usuario: ' + ERROR_MESSAGE();
        RETURN -99;
    END CATCH
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_CalcularComisiones]    Script Date: 12/07/2025 7:36:32 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Procedimiento para calcular comisiones
CREATE PROCEDURE [dbo].[sp_CalcularComisiones]
    @FechaInicio DATE = NULL,
    @FechaFin DATE = NULL,
    @Mensaje VARCHAR(200) OUTPUT
AS
BEGIN
    SET NOCOUNT ON;
    
    IF @FechaInicio IS NULL
        SET @FechaInicio = DATEADD(DAY, -7, GETDATE());
    
    IF @FechaFin IS NULL
        SET @FechaFin = GETDATE();
    
    BEGIN TRY
        BEGIN TRANSACTION;
        
        -- Eliminar comisiones no pagadas del mismo período para evitar duplicados
        DELETE FROM Comision
        WHERE EstadoPagoID = 1 -- Pendiente
        AND FechaGeneracion BETWEEN @FechaInicio AND @FechaFin;
        
        -- Insertar comisiones para cada nivel
        INSERT INTO Comision (UsuarioID, ReferidoID, Monto, Nivel, EstadoPagoID)
        -- Nivel 1 (10%)
        SELECT 
            rr.ReferenteID,
            rr.UsuarioID,
            p.Monto * 0.10,
            1,
            1 -- Pendiente
        FROM RedReferidos rr
        JOIN Pago p ON rr.UsuarioID = p.UsuarioID
        WHERE rr.Nivel = 1
        AND p.EstadoPagoID = 2 -- Aprobado
        AND p.FechaAprobacion BETWEEN @FechaInicio AND @FechaFin
        AND EXISTS (
            SELECT 1 FROM Usuario u 
            WHERE u.UsuarioID = rr.ReferenteID 
            AND u.EstadoUsuarioID = 2 -- Activo
        )
        
        UNION ALL
        
        -- Nivel 2 (5%)
        SELECT 
            rr2.ReferenteID,
            rr1.UsuarioID,
            p.Monto * 0.05,
            2,
            1 -- Pendiente
        FROM RedReferidos rr1
        JOIN RedReferidos rr2 ON rr1.ReferenteID = rr2.UsuarioID
        JOIN Pago p ON rr1.UsuarioID = p.UsuarioID
        WHERE rr1.Nivel = 1
        AND rr2.Nivel = 1
        AND p.EstadoPagoID = 2 -- Aprobado
        AND p.FechaAprobacion BETWEEN @FechaInicio AND @FechaFin
        AND EXISTS (
            SELECT 1 FROM Usuario u 
            WHERE u.UsuarioID = rr2.ReferenteID 
            AND u.EstadoUsuarioID = 2 -- Activo
        )
        
        UNION ALL
        
        -- Nivel 3 (3%)
        SELECT 
            rr3.ReferenteID,
            rr1.UsuarioID,
            p.Monto * 0.03,
            3,
            1 -- Pendiente
        FROM RedReferidos rr1
        JOIN RedReferidos rr2 ON rr1.ReferenteID = rr2.UsuarioID
        JOIN RedReferidos rr3 ON rr2.ReferenteID = rr3.UsuarioID
        JOIN Pago p ON rr1.UsuarioID = p.UsuarioID
        WHERE rr1.Nivel = 1
        AND rr2.Nivel = 1
        AND rr3.Nivel = 1
        AND p.EstadoPagoID = 2 -- Aprobado
        AND p.FechaAprobacion BETWEEN @FechaInicio AND @FechaFin
        AND EXISTS (
            SELECT 1 FROM Usuario u 
            WHERE u.UsuarioID = rr3.ReferenteID 
            AND u.EstadoUsuarioID = 2 -- Activo
        );
        
        -- Registrar actividad
        INSERT INTO LogActividad (Accion, Detalles)
        VALUES ('Cálculo comisiones', 'Comisiones calculadas desde ' + CONVERT(VARCHAR, @FechaInicio, 103) + ' hasta ' + CONVERT(VARCHAR, @FechaFin, 103));
        
        COMMIT TRANSACTION;
        
        SET @Mensaje = 'Comisiones calculadas exitosamente para el período ' + CONVERT(VARCHAR, @FechaInicio, 103) + ' - ' + CONVERT(VARCHAR, @FechaFin, 103);
        RETURN 0;
    END TRY
    BEGIN CATCH
        ROLLBACK TRANSACTION;
        SET @Mensaje = 'Error al calcular comisiones: ' + ERROR_MESSAGE();
        RETURN -99;
    END CATCH
END;
GO
/****** Object:  StoredProcedure [dbo].[SP_GetRedPorReferidos]    Script Date: 12/07/2025 7:36:32 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[SP_GetRedPorReferidos]
    @UsuarioID INT
AS
BEGIN
    SET NOCOUNT ON;

    -- CTE con tracking de usuarios visitados para evitar duplicados
    WITH RedCTE AS (
        -- Nivel 0: el usuario raíz
        SELECT 
            RR.UsuarioID,
            RR.ReferenteID,
			RR.RedReferidosID,
            0 AS Nivel,
            CAST(',' + CAST(RR.UsuarioID AS VARCHAR) + ',' AS VARCHAR(MAX)) AS Visitados
        FROM dbo.RedReferidos RR
        WHERE RR.UsuarioID = @UsuarioID AND RR.UsuarioID = RR.ReferenteID

        UNION ALL

        -- Niveles 1 a 5
        SELECT 
            RR.UsuarioID,
            RR.ReferenteID,
			RR.RedReferidosID,
            R.Nivel + 1,
            R.Visitados + CAST(RR.UsuarioID AS VARCHAR) + ','
        FROM dbo.RedReferidos RR
        INNER JOIN RedCTE R ON RR.ReferenteID = R.UsuarioID
        WHERE R.Nivel < 5
            AND R.Visitados NOT LIKE '%,' + CAST(RR.UsuarioID AS VARCHAR) + ',%'
    )
    SELECT 
        R.Nivel,
        U.UsuarioID,
		R.RedReferidosID,
        U.NombreCompleto,
        U.Email,
        U.NumeroDocumento,
        U.CodigoReferencia,
        U.FechaRegistro,
        Ref.NombreCompleto AS NombreReferente
    FROM RedCTE R
    INNER JOIN dbo.Usuario U ON U.UsuarioID = R.UsuarioID
    LEFT JOIN dbo.Usuario Ref ON Ref.UsuarioID = R.ReferenteID
    ORDER BY R.Nivel, U.NombreCompleto;
END
GO
/****** Object:  StoredProcedure [dbo].[SP_GetRedPorReferidosByIdUsuario]    Script Date: 12/07/2025 7:36:32 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--declare @UsuarioID int  = 19;
CREATE PROCEDURE [dbo].[SP_GetRedPorReferidosByIdUsuario]
    @UsuarioID INT
AS
BEGIN
    SET NOCOUNT ON;

    ;WITH RedCTE AS (
        ------------------------------------------------
        -- 1. Ancla: referidos directos de @UsuarioID
        ------------------------------------------------
        SELECT 
            RR.UsuarioID,
            RR.ReferenteID,
            0           AS Nivel,
            CAST(',' + CAST(RR.UsuarioID AS VARCHAR(MAX)) + ',' AS VARCHAR(MAX)) AS Visitados
        FROM dbo.RedReferidos RR
        WHERE RR.ReferenteID = @UsuarioID

        UNION ALL

        ------------------------------------------------
        -- 2. Recursión: hijos de cada nodo anterior
        ------------------------------------------------
        SELECT 
            RR.UsuarioID,
            RR.ReferenteID,
            R.Nivel + 1,
            R.Visitados + CAST(RR.UsuarioID AS VARCHAR(MAX)) + ','
        FROM dbo.RedReferidos RR
        INNER JOIN RedCTE R 
            ON RR.ReferenteID = R.UsuarioID
        WHERE R.Nivel < 5
          AND R.Visitados NOT LIKE '%,' + CAST(RR.UsuarioID AS VARCHAR(MAX)) + ',%'
    )

    ------------------------------------------------
    -- 3. Selección final: información de Usuario
    ------------------------------------------------
    SELECT 
        R.Nivel,
        U.UsuarioID,
        R.ReferenteID,
        U.NombreCompleto,
        U.Email,
        U.NumeroDocumento,
        U.CodigoReferencia,
        U.FechaRegistro,
        Ref.NombreCompleto AS NombreReferente
    FROM RedCTE R
    INNER JOIN dbo.Usuario U 
        ON U.UsuarioID = R.UsuarioID
    LEFT JOIN dbo.Usuario Ref 
        ON Ref.UsuarioID = R.ReferenteID
    ORDER BY R.Nivel, U.NombreCompleto;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_NotificarPagosProximos]    Script Date: 12/07/2025 7:36:32 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Procedimiento para notificar pagos próximos
CREATE PROCEDURE [dbo].[sp_NotificarPagosProximos]
AS
BEGIN
    SET NOCOUNT ON;
    
    DECLARE @Hoy DATE = GETDATE();
    DECLARE @DiasNotificacion INT;
    
    SELECT @DiasNotificacion = CAST(Valor AS INT)
    FROM ConfiguracionSistema
    WHERE Clave = 'DIAS_PARA_PAGO';
    
    IF @DiasNotificacion IS NULL
        SET @DiasNotificacion = 29;
    
    -- Usuarios que cumplen 29 días (o los configurados) después de su registro
    INSERT INTO Notificacion (UsuarioID, Titulo, Mensaje, TipoNotificacion)
    SELECT 
        u.UsuarioID,
        'Recordatorio de pago',
        'Estimado ' + u.NombreCompleto + ', su próximo pago vence pronto. Por favor realice el pago para mantener su cuenta activa.',
        'pago'
    FROM Usuario u
    WHERE u.EstadoUsuarioID = 2 -- Activo
    AND DATEDIFF(DAY, u.FechaRegistro, @Hoy) = @DiasNotificacion
    AND NOT EXISTS (
        SELECT 1 FROM Pago p
        WHERE p.UsuarioID = u.UsuarioID
        AND p.EstadoPagoID = 2 -- Aprobado
        AND DATEDIFF(DAY, u.FechaRegistro, p.FechaAprobacion) >= @DiasNotificacion
    );
    
    -- Notificar a administradores
    DECLARE @AdminID INT;
    DECLARE @MensajeAdmin VARCHAR(200) = 'Los siguientes usuarios tienen pagos próximos a vencer: ';
    
    DECLARE UsuariosPago CURSOR FOR
    SELECT DISTINCT u.UsuarioID
    FROM Usuario u
    WHERE u.EstadoUsuarioID = 2 -- Activo
    AND DATEDIFF(DAY, u.FechaRegistro, @Hoy) = @DiasNotificacion
    AND NOT EXISTS (
        SELECT 1 FROM Pago p
        WHERE p.UsuarioID = u.UsuarioID
        AND p.EstadoPagoID = 2 -- Aprobado
        AND DATEDIFF(DAY, u.FechaRegistro, p.FechaAprobacion) >= @DiasNotificacion
    );
    
    OPEN UsuariosPago;
    FETCH NEXT FROM UsuariosPago INTO @AdminID;
    
    WHILE @@FETCH_STATUS = 0
    BEGIN
        SET @MensajeAdmin = @MensajeAdmin + CAST(@AdminID AS VARCHAR(10)) + ', ';
        FETCH NEXT FROM UsuariosPago INTO @AdminID;
    END
    
    CLOSE UsuariosPago;
    DEALLOCATE UsuariosPago;
    
    IF LEN(@MensajeAdmin) > 0
    BEGIN
        -- Enviar notificación a todos los administradores
        INSERT INTO Notificacion (UsuarioID, Titulo, Mensaje, TipoNotificacion)
        SELECT 
            u.UsuarioID,
            'Notificación de pagos próximos',
            @MensajeAdmin,
            'administracion'
        FROM Usuario u
        WHERE u.RolID = 1; -- Administradores
    END
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_ObtenerRedUsuario]    Script Date: 12/07/2025 7:36:32 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Procedimiento para obtener la red de un usuario
CREATE PROCEDURE [dbo].[sp_ObtenerRedUsuario]
    @UsuarioID INT,
    @Niveles INT = 5
AS
BEGIN
    SET NOCOUNT ON;
    
    -- Usar recursividad para obtener la red completa
    WITH Red AS (
        -- Miembro base (el usuario solicitado)
        SELECT 
            u.UsuarioID, 
            u.CodigoReferencia, 
            u.NombreCompleto, 
            u.NumeroCelular,
            u.FechaRegistro,
            rr.ReferenteID,
            rr.Nivel,
            0 AS NivelRed,
            CAST(u.CodigoReferencia AS VARCHAR(500)) AS Ruta
        FROM Usuario u
        LEFT JOIN RedReferidos rr ON u.UsuarioID = rr.UsuarioID
        WHERE u.UsuarioID = @UsuarioID
        
        UNION ALL
        
        -- Miembros recursivos (referidos)
        SELECT 
            u.UsuarioID, 
            u.CodigoReferencia, 
            u.NombreCompleto, 
            u.NumeroCelular,
            u.FechaRegistro,
            rr.ReferenteID,
            rr.Nivel,
            r.NivelRed + 1,
            CAST(r.Ruta + ' -> ' + u.CodigoReferencia AS VARCHAR(500))
        FROM Usuario u
        JOIN RedReferidos rr ON u.UsuarioID = rr.UsuarioID
        JOIN Red r ON rr.ReferenteID = r.UsuarioID
        WHERE r.NivelRed < @Niveles
    )
    SELECT 
        UsuarioID, 
        CodigoReferencia, 
        NombreCompleto, 
        NumeroCelular,
        FechaRegistro,
        ReferenteID,
        Nivel,
        NivelRed,
        Ruta
    FROM Red
    ORDER BY NivelRed, CodigoReferencia;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_RegistrarUsuario]    Script Date: 12/07/2025 7:36:32 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- Procedimiento para registrar un nuevo usuario
CREATE PROCEDURE [dbo].[sp_RegistrarUsuario]
    @NombreCompleto VARCHAR(100),
    @TipoDocumentoID INT,
    @NumeroDocumento VARCHAR(20),
    @Email VARCHAR(100),
    @Contrasena NVARCHAR(100),
    @NumeroCelular VARCHAR(20),
    @NumeroCuentaBancaria VARCHAR(50),
    @TipoCuentaBancariaID INT,
    @BancoID INT,
    @CodigoReferente VARCHAR(20) = NULL,
    @UsuarioID INT OUTPUT,
    @CodigoReferencia VARCHAR(20) OUTPUT,
    @Mensaje VARCHAR(200) OUTPUT
AS
BEGIN
    SET NOCOUNT ON;
    
    DECLARE @ReferenteID INT = NULL;
    DECLARE @RolID INT = 2; -- Usuario normal
    DECLARE @EstadoUsuarioID INT = 1; -- Pendiente
    DECLARE @Salt UNIQUEIDENTIFIER = NEWID();
    DECLARE @ContrasenaHash VARBINARY(256) = HASHBYTES('SHA2_256', @Contrasena + CAST(@Salt AS NVARCHAR(36)));
    
    -- Generar código de referencia único
    DECLARE @Codigo VARCHAR(20);
    DECLARE @Intentos INT = 0;
    
    WHILE @Intentos < 10
    BEGIN
        SET @Codigo = UPPER(LEFT(NEWID(), 8));
        
        IF NOT EXISTS (SELECT 1 FROM Usuario WHERE CodigoReferencia = @Codigo)
            BREAK;
            
        SET @Intentos = @Intentos + 1;
    END
    
    IF @Intentos >= 10
    BEGIN
        SET @Mensaje = 'Error generando código de referencia. Intente nuevamente.';
        RETURN -1;
    END
    
    -- Validar referente si se proporcionó código
    IF @CodigoReferente IS NOT NULL
    BEGIN
        SELECT @ReferenteID = UsuarioID 
        FROM Usuario 
        WHERE CodigoReferencia = @CodigoReferente AND EstadoUsuarioID = 2; -- Solo activos
        
        IF @ReferenteID IS NULL
        BEGIN
            SET @Mensaje = 'El código de referente no es válido o el usuario no está activo.';
            RETURN -2;
        END
        
        -- Verificar que el referente no tenga ya 5 referidos directos
        DECLARE @CantidadReferidos INT;
        SELECT @CantidadReferidos = COUNT(*) 
        FROM RedReferidos 
        WHERE ReferenteID = @ReferenteID AND Nivel = 1;
        
        IF @CantidadReferidos >= 5
        BEGIN
            -- Buscar en la red del referente un usuario con menos de 5 referidos
            DECLARE @NuevoReferenteID INT;
            
            WITH Red AS (
                SELECT UsuarioID, ReferenteID, Nivel 
                FROM RedReferidos 
                WHERE ReferenteID = @ReferenteID
                UNION ALL
                SELECT r.UsuarioID, r.ReferenteID, r.Nivel
                FROM RedReferidos r
                INNER JOIN Red ON r.ReferenteID = Red.UsuarioID
            )
            SELECT TOP 1 @NuevoReferenteID = r.UsuarioID
            FROM Red r
            JOIN (
                SELECT UsuarioID, COUNT(*) AS CantReferidos
                FROM RedReferidos
                WHERE Nivel = 1
                GROUP BY UsuarioID
            ) cnt ON r.UsuarioID = cnt.UsuarioID
            WHERE cnt.CantReferidos < 5
            ORDER BY r.Nivel, cnt.CantReferidos;
            
            IF @NuevoReferenteID IS NOT NULL
                SET @ReferenteID = @NuevoReferenteID;
            ELSE
            BEGIN
                SET @Mensaje = 'La red del referente está completa. No se pueden agregar más referidos en este momento.';
                RETURN -3;
            END
        END
    END
    
    BEGIN TRY
        BEGIN TRANSACTION;
        
        -- Insertar el nuevo usuario
        INSERT INTO Usuario (
            CodigoReferencia, NombreCompleto, TipoDocumentoID, NumeroDocumento, Email,
            ContrasenaHash, ContrasenaSalt, NumeroCelular, NumeroCuentaBancaria,
            TipoCuentaBancariaID, BancoID, ReferenteID, RolID, EstadoUsuarioID
        ) VALUES (
            @Codigo, @NombreCompleto, @TipoDocumentoID, @NumeroDocumento, @Email,
            @ContrasenaHash, CAST(@Salt AS VARBINARY(36)), @NumeroCelular, @NumeroCuentaBancaria,
            @TipoCuentaBancariaID, @BancoID, @ReferenteID, @RolID, @EstadoUsuarioID
        );
        
        SET @UsuarioID = SCOPE_IDENTITY();
        SET @CodigoReferencia = @Codigo;
        
        -- Registrar en la red de referidos si tiene referente
        IF @ReferenteID IS NOT NULL
        BEGIN
            DECLARE @Nivel INT = 1;
            
            -- Si el referente no es directo, calcular el nivel correcto
            IF EXISTS (SELECT 1 FROM RedReferidos WHERE UsuarioID = @ReferenteID)
            BEGIN
                SELECT @Nivel = Nivel + 1 
                FROM RedReferidos 
                WHERE UsuarioID = @ReferenteID;
            END
            
            INSERT INTO RedReferidos (UsuarioID, ReferenteID, Nivel)
            VALUES (@UsuarioID, @ReferenteID, @Nivel);
        END
        
        -- Registrar en el historial de contraseñas
        INSERT INTO HistorialContrasena (UsuarioID, ContrasenaHash, ContrasenaSalt)
        VALUES (@UsuarioID, @ContrasenaHash, CAST(@Salt AS VARBINARY(36)));
        
        -- Registrar actividad
        INSERT INTO LogActividad (UsuarioID, Accion, Detalles)
        VALUES (@UsuarioID, 'Registro', 'Nuevo usuario registrado en el sistema');
        
        COMMIT TRANSACTION;
        
        SET @Mensaje = 'Usuario registrado exitosamente.';
        RETURN 0;
    END TRY
    BEGIN CATCH
        ROLLBACK TRANSACTION;
        SET @Mensaje = 'Error al registrar el usuario: ' + ERROR_MESSAGE();
        RETURN -99;
    END CATCH
END;
GO
/****** Object:  StoredProcedure [dbo].[Usp_BuscarNivelesSuperioesComisiones]    Script Date: 12/07/2025 7:36:32 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--declare  @UsuarioID INT = 54
CREATE PROCEDURE [dbo].[Usp_BuscarNivelesSuperioesComisiones]
  @UsuarioID INT
AS
BEGIN
  SET NOCOUNT ON;

  ;WITH ReferentesCTE AS (
    -- Nivel 1: referente directo
    SELECT
      RR.ReferenteID AS UsuarioID,
      1              AS Nivel
    FROM dbo.RedReferidos RR
    WHERE RR.UsuarioID = @UsuarioID

    UNION ALL

    -- Niveles superiores
    SELECT
      RR.ReferenteID,
      R.Nivel + 1
    FROM dbo.RedReferidos RR
    INNER JOIN ReferentesCTE R
      ON RR.UsuarioID = R.UsuarioID
  )

  -- Ahora aplicamos DISTINCT sobre los pares (Nivel, UsuarioID)
  SELECT
    R.Nivel,
    R.UsuarioID,
    U.NombreCompleto,
    C.Porcentaje,
    C.PagoUnico
  FROM (
    SELECT DISTINCT Nivel, UsuarioID
    FROM ReferentesCTE
  ) AS R
  LEFT JOIN dbo.Usuario U
    ON U.UsuarioID = R.UsuarioID
  LEFT JOIN dbo.ConfigCompensacionReferidos C
    ON C.Linea  = R.Nivel
   AND C.Activo = 1
  ORDER BY R.Nivel
  OPTION (MAXRECURSION 0);
END
GO
